.name {
    color: rgb(0, 0, 179);
    font-weight: 700;
}

.message {
    background-color: rgb(215, 215, 215);
    padding: 2px;
    border-radius: 0px 10px 10px 10px;
    margin-top: 3px;
    max-width: 70vw;
    word-break: break-all;
}

.myMessage {
    background-color: rgb(222, 255, 203);
    padding: 5px;
    border-radius: 10px 0px 10px 10px;
    margin-top: 3px;
    margin-right: 5px;
    max-width: 70vw;
    word-break: break-all;
}